<!DOCTYPE html>
<html class='no-js' lang='en'>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/icon" href="/favicon.ico"/>
        <meta name="robots" content="index, follow" />
        <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
        <meta property="og:site_name" content="{{ site.name }}" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}" />{% else %}<meta name="keywords" content="exploit development, offensive security training, penetration testing, offensive tools, offensive security consultant, conscan, nullsploit, http enumeration, thexero">{% endif %}
        {% if page.thumbnail %}<meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}" />
        <meta name="twitter:image" content="{{ site.url }}{{ page.thumbnail }}" />{% endif %}
        {% if page.title %}<meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="article">{% else %}
        <meta property="og:type" content="website">{% endif %}        
        <meta property="twitter:title" content="{{ page.title }}" />
        {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="twitter:description" content="{{ page.description }}" />
        {% endif %}
        <link rel="canonical" href="{{ page.url | prepend: site.url }}" />
        <link href='/css/framework.min.css' rel='stylesheet' />
        <link href='/css/syntax.css' rel='stylesheet' />
        <link href='/css/style.css' rel='stylesheet' />
        <link href='/css/fontello.css' rel='stylesheet' />
        <link rel="stylesheet" type="text/css" href="/css/asciinema-player.css" />
        <script src='/js/modernizr.js'></script>
        <script src="/js/asciinema-player.js"></script>
        <script src="https://analytics.ahrefs.com/analytics.js" data-key="AC/AAN++egYYlQDpSD+AAw" async></script>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGJ347HP7C"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-ZGJ347HP7C');
        </script>
        <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/42a6ea919d1fbf2e1e7ee6289/de5fe359899b3a0b4afefb8ea.js");</script>

    </head>
    <body>
        <div class='contain-to-grid sticky'>
            <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
                <ul class='title-area'>
                    <li class='name'>
                        <h3 style="font-size: 2.75rem;" >
                            <img src='/images/logo.png' alt='logo' />
                            <a title="TheXero" href='/'>{{ site.name }}</a>
                        </h3>
                    </li>
                    <li class='toggle-topbar menu-icon'>
                        <a href='#'>Menu</a>
                    </li>
                </ul>
                <section class='top-bar-section'>
                    <ul class="right">
                        {% for item in site.data.nav %}
                            {% assign active_class = item.section_id == page.section_id ? "active" : "" %}
                            {% if item.children %}
                                <li class="has-dropdown {{active_class}}">
                                    <a href="/{{ item.path }}">{{ item.name }}</a>
                                    <ul class='dropdown'>
                                        {% for child in item.children %}
                                            <li>
                                                <a href="/{{ child.path }}">{{ child.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="{{active_class}}">
                                    <a href="/{{ item.path }}">{{ item.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </section>
            </nav>
        </div>
        {{ content }}
        <div class='footer centered-text'>
            <div class='spacing'></div>
            <div class='row'>
                <div class='large-12 columns'></div>
                <h2 class='light'>
                    <img src='/logo.png' alt='logo' />
                    <br />
                    <div class='spacing'></div>
                    {{ site.name }}
                </h2>
                <div class='spacing'></div>
                <div class='spacing'></div>
                <div class='socials centered-text'>
                    <a target="_blank" href='https://twitter.com/thexerocouk' aria-label='thexerocouk on Twitter'>
                        <i class='icon-twitter grey'></i>
                    </a>
                    <a target="_blank" href='https://www.facebook.com/thexerocouk' aria-label='thexerocouk on Facebook'>
                        <i class='icon-facebook grey'></i>
                    </a>
                    <a target="_blank" href='https://www.github.com/thexerocouk' aria-label='thexerocouk on github'>
                        <i class='icon-github grey'></i>
                    </a>
                    <a href='mailto:webmaster@thexero.co.uk' aria-label='thexerocouk on email'>
                        <i class='icon-mail grey'></i>
                    </a>
                </div>
                <p class='copyright'>Copyright 2025 TheXero | For Education Purposes Only!</p>
            </div>
        </div>

        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Blog",
              "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ site.url }}{{ page.url }}"
              },
              "headline": "{{ page.title }}",
              "description": "{{ page.description }}",
              "image": "{{ site.url }}{{ page.image }}",
              "author": {
                "@type": "Person",
                "name": "{{ author }}"
              },
              "publisher": {
                "@type": "Organization",
                "name": "{{ site.name }}",
                "logo": {
                  "@type": "ImageObject",
                  "url": "{{ site.url }}/images/logo.png"
                }
              },
              "datePublished": "{{ page.date | date_to_xmlschema }}",
              "dateModified": "{{ page.date | date_to_xmlschema }}"}
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation.min.js" integrity="sha512-MreeVuLGGhjQImdt8rwTsOtofJz/LfzB0Bg5nNDcsBoRo/xUVwqD/XFzJU4AxIuqXmebDq20r6UmtNo0kB9nbQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countto/1.2.0/jquery.countTo.min.js" integrity="sha512-RXuJVZbGztKGYMNgmWU6oOHbUwYu+NnzovhT4lyW1kfmEfRK6CD1xL8U+0xACFqSkC3cxMugaaNEP8wWmvl4Jw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js" integrity="sha512-vYYoQJKYzaJQaOaYxaJhhmxikOJ2SEgHwmCNa0EMP0aRr7opdt4HHrorAwnCyPm8bdW/JBApIomo85YaBX81zA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src='/js/app.js'></script>
        <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "c5a020728c8c404ab4b879da4e7f8586"}'></script><!-- End Cloudflare Web Analytics -->
    </body>
</html>
